In [5]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [56]:
# download and parse the url

start_url = 'https://en.wikipedia.org/wiki/Tesla,_Inc.'

# download the HTML from start url

downloaded_html = requests.get(start_url)

# parse the HTML with BeautifulSoup and create Soup object

soup = BeautifulSoup(downloaded_html.text,'html5lib')

# save a local copy

with open('downloaded_html','w', encoding='utf-8') as file:
    file.write(soup.prettify())

In [58]:
# select wikitable

full_table = soup.select('table.wikitable tbody')[0]
print(full_table)

<tbody><tr style="text-align:center;">
<th>Quarter</th>
<th>Cumulative<br/>production</th>
<th>Total<br/>production</th>
<th>Model S<br/>sales
</th>
<th>Model X<br/>sales
</th>
<th>Model 3 + Model Y<br/>sales<sup class="reference" id="cite_ref-96"><a href="#cite_note-96">[b]</a></sup></th>
<th>Total<br/>sales<sup class="reference" id="cite_ref-97"><a href="#cite_note-97">[c]</a></sup></th>
<th>In transit<sup class="reference" id="cite_ref-98"><a href="#cite_note-98">[d]</a></sup></th>
<th>Source
</th></tr>
<tr style="text-align:center;">
<td>Q1 2013</td>
<td>?</td>
<td>5,000+</td>
<td>4,900</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>4,900</td>
<td></td>
<td><sup class="reference" id="cite_ref-99"><a href="#cite_note-99">[95]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2013</td>
<td>?</td>
<td>?</td>
<td>5,150</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>5,150</td>
<td></td>
<td><sup class="reference" id="cite_ref-100"><a href="#cite_note-100">[96]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2013</td>
<td>?</td>
<td>?</td>
<td>5,500+</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>5,500+</td>
<td></td>
<td><sup class="reference" id="cite_ref-101"><a href="#cite_note-101">[97]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2013</td>
<td>~34,851</td>
<td>6,587</td>
<td>6,892</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>6,892</td>
<td></td>
<td><sup class="reference" id="cite_ref-102"><a href="#cite_note-102">[98]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2014</td>
<td>~41,438</td>
<td>7,535</td>
<td>6,457</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>6,457</td>
<td></td>
<td><sup class="reference" id="cite_ref-103"><a href="#cite_note-103">[99]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2014</td>
<td>~48,973</td>
<td>8,763</td>
<td>7,579</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>7,579</td>
<td></td>
<td><sup class="reference" id="cite_ref-104"><a href="#cite_note-104">[100]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2014</td>
<td>~57,736</td>
<td>~7,075</td>
<td>7,785</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>7,785</td>
<td></td>
<td><sup class="reference" id="cite_ref-105"><a href="#cite_note-105">[101]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2014</td>
<td>64,811</td>
<td>11,627</td>
<td>9,834</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>9,834</td>
<td></td>
<td><sup class="reference" id="cite_ref-106"><a href="#cite_note-106">[102]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2015</td>
<td>76,438</td>
<td>11,160</td>
<td>10,045</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>10,045</td>
<td></td>
<td><sup class="reference" id="cite_ref-107"><a href="#cite_note-107">[103]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2015</td>
<td>89,245</td>
<td>12,807</td>
<td>11,532</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>11,532</td>
<td></td>
<td><sup class="reference" id="cite_ref-108"><a href="#cite_note-108">[104]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2015</td>
<td>102,336</td>
<td>13,091</td>
<td>11,597</td>
<td>6
</td>
<td style="background:#f1f5fa;"></td>
<td>11,603</td>
<td></td>
<td><sup class="reference" id="cite_ref-109"><a href="#cite_note-109">[105]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2015</td>
<td>116,373</td>
<td>14,037</td>
<td>17,272</td>
<td>206
</td>
<td style="background:#f1f5fa;"></td>
<td>17,478</td>
<td></td>
<td><sup class="reference" id="cite_ref-110"><a href="#cite_note-110">[106]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2016</td>
<td>131,883</td>
<td>15,510</td>
<td>12,420</td>
<td>2,400
</td>
<td style="background:#f1f5fa;"></td>
<td>14,820</td>
<td>2,615</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2016_111-0"><a href="#cite_note-Tesla1Q2016-111">[107]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2016</td>
<td>150,228</td>
<td>18,345</td>
<td>9,764</td>
<td>4,638
</td>
<td style="background:#f1f5fa;"></td>
<td>14,402</td>
<td>5,150</td>
<td><sup class="reference" id="cite_ref-112"><a href="#cite_note-112">[108]</a></sup><sup class="reference" id="cite_ref-113"><a href="#cite_note-113">[109]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2016</td>
<td>175,413</td>
<td>25,185</td>
<td>16,047</td>
<td>8,774
</td>
<td style="background:#f1f5fa;"></td>
<td>24,821</td>
<td>5,065</td>
<td><sup class="reference" id="cite_ref-114"><a href="#cite_note-114">[110]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2016<sup class="reference" id="cite_ref-115"><a href="#cite_note-115">[e]</a></sup></td>
<td>200,295</td>
<td>24,882</td>
<td>12,700</td>
<td>9,500
</td>
<td style="background:#f1f5fa;"></td>
<td>22,254</td>
<td>6,450</td>
<td><sup class="reference" id="cite_ref-116"><a href="#cite_note-116">[111]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2016final_117-0"><a href="#cite_note-Tesla4Q2016final-117">[112]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2017</td>
<td>225,713</td>
<td>25,418</td>
<td>~13,450</td>
<td>~11,550
</td>
<td style="background:#f1f5fa;"></td>
<td>25,051</td>
<td>~4,650</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2017_118-0"><a href="#cite_note-Tesla1Q2017-118">[113]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2017</td>
<td>251,421</td>
<td>25,708</td>
<td>~12,000</td>
<td>~10,000
</td>
<td style="background:#f1f5fa;"></td>
<td>22,026</td>
<td>~3,500</td>
<td><sup class="reference" id="cite_ref-Tesla2Q2017_119-0"><a href="#cite_note-Tesla2Q2017-119">[114]</a></sup><sup class="reference" id="cite_ref-120"><a href="#cite_note-120">[115]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2017</td>
<td>276,757</td>
<td>25,336</td>
<td>14,065</td>
<td>11,865</td>
<td>222</td>
<td>26,137</td>
<td>4,820</td>
<td><sup class="reference" id="cite_ref-Tesla3Q2017_121-0"><a href="#cite_note-Tesla3Q2017-121">[116]</a></sup><sup class="reference" id="cite_ref-3Q2017Tesla250K_122-0"><a href="#cite_note-3Q2017Tesla250K-122">[117]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2017</td>
<td>301,322</td>
<td>24,565</td>
<td>~15,200</td>
<td>~13,120</td>
<td>1,542</td>
<td>29,967</td>
<td>3,380</td>
<td><sup class="reference" id="cite_ref-Tesla4Q2017_123-0"><a href="#cite_note-Tesla4Q2017-123">[118]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2017_AggProduction_124-0"><a href="#cite_note-Tesla4Q2017_AggProduction-124">[119]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2017final_125-0"><a href="#cite_note-Tesla4Q2017final-125">[120]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2018</td>
<td>335,816</td>
<td>34,494</td>
<td>11,730</td>
<td>10,070</td>
<td>8,182</td>
<td>29,997</td>
<td>6,100</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2018_126-0"><a href="#cite_note-Tesla1Q2018-126">[121]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2018</td>
<td>389,155</td>
<td>53,339</td>
<td>10,930</td>
<td>11,370</td>
<td>18,440</td>
<td>40,740</td>
<td>15,058</td>
<td><sup class="reference" id="cite_ref-Tesla2Q2018_127-0"><a href="#cite_note-Tesla2Q2018-127">[122]</a></sup><sup class="reference" id="cite_ref-Tesla2Q2018final_128-0"><a href="#cite_note-Tesla2Q2018final-128">[123]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2018</td>
<td>469,297</td>
<td>80,142</td>
<td>14,470</td>
<td>13,190</td>
<td>56,065</td>
<td>83,725</td>
<td>11,824</td>
<td><sup class="reference" id="cite_ref-Tesla3Q2018_129-0"><a href="#cite_note-Tesla3Q2018-129">[124]</a></sup><sup class="reference" id="cite_ref-Tesla3Q2018final_130-0"><a href="#cite_note-Tesla3Q2018final-130">[125]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2018</td>
<td>555,852</td>
<td>86,555</td>
<td>13,500</td>
<td>14,050</td>
<td>63,359</td>
<td>90,700</td>
<td>2,907</td>
<td><sup class="reference" id="cite_ref-Tesla4Q2018_131-0"><a href="#cite_note-Tesla4Q2018-131">[126]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2018final_74-1"><a href="#cite_note-Tesla4Q2018final-74">[73]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2019</td>
<td>632,952</td>
<td>77,100</td>
<td colspan="2">12,100</td>
<td>50,900</td>
<td>63,000</td>
<td>10,600</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2019_132-0"><a href="#cite_note-Tesla1Q2019-132">[127]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2019</td>
<td>720,000</td>
<td>87,048</td>
<td colspan="2">17,650</td>
<td>77,550</td>
<td>95,200</td>
<td>7,400</td>
<td><sup class="reference" id="cite_ref-Tesla2Q2019_133-0"><a href="#cite_note-Tesla2Q2019-133">[128]</a></sup><sup class="reference" id="cite_ref-wired20190703_134-0"><a href="#cite_note-wired20190703-134">[129]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2019</td>
<td>816,155</td>
<td>96,155</td>
<td colspan="2">17,483</td>
<td>79,703</td>
<td>97,186</td>
<td></td>
<td><sup class="reference" id="cite_ref-Tesla3Q2019_135-0"><a href="#cite_note-Tesla3Q2019-135">[130]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2019</td>
<td>921,046</td>
<td>104,891</td>
<td colspan="2">19,450</td>
<td>92,550</td>
<td>112,000</td>
<td></td>
<td><sup class="reference" id="cite_ref-Tesla4Q2019_73-1"><a href="#cite_note-Tesla4Q2019-73">[72]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2020</td>
<td>1,023,718</td>
<td>102,672</td>
<td colspan="2">12,200</td>
<td>76,200</td>
<td>88,400</td>
<td></td>
<td><sup class="reference" id="cite_ref-136"><a href="#cite_note-136">[131]</a></sup>
</td></tr></tbody>

In [ ]:
# first iteration

# extract the table column heading
# End Result: A list with all table headings

table_head = full_table.select('tr th')
print(table_head)

In [ ]:
# Second iteration getting only text

table_head = full_table.select('tr th')
# print(table_head)

# removing the tr th tag
print("-------------")
for element in table_head:
    print(element.text)

In [ ]:
# Third Iteration

table_columns = []
for element in table_head:
    column_label = element.get_text(separator=" ",strip=True)
    table_columns.append(column_label)
print('-----------------')
print(table_columns)

In [ ]:
# Fourth Iteration

table_columns = []
for element in table_head:
    column_label = element.get_text(separator=" ",strip=True)
    column_label = column_label.replace(' ', '_')                          # replacing space from single word to make them readable try without it also
    table_columns.append(column_label)
print('-----------------')
print(table_columns)

In [66]:
# Final Iteration

# extract the table column heading
# End Result: A list with all table headings

table_head = full_table.select('tr th')    
# the elements get jumbeled so lets remove this
import re
regex = re.compile('_\[\w\]')

table_columns = []
for element in table_head:
    column_label = element.get_text(separator=" ",strip=True)
    column_label = column_label.replace(' ', '_')                          # replacing space from single word to make them readable try without it also
    column_label = regex.sub('',column_label)
    table_columns.append(column_label)
print('-----------------')
print(table_columns)

-------------
-----------------
['Quarter', 'Cumulative_production', 'Total_production', 'Model_S_sales', 'Model_X_sales', 'Model_3_+_Model_Y_sales', 'Total_sales', 'In_transit', 'Source']

In [67]:
for columns in table_columns:
    print(columns)

Quarter
Cumulative_production
Total_production
Model_S_sales
Model_X_sales
Model_3_+_Model_Y_sales
Total_sales
In_transit
Source

In [68]:
# Extract the table data (rows)
# End Result: A multi-dimensional list containing list of each row

table_rows = full_table.select('tr')
print(table_rows)

[<tr style="text-align:center;">
<th>Quarter</th>
<th>Cumulative<br/>production</th>
<th>Total<br/>production</th>
<th>Model S<br/>sales
</th>
<th>Model X<br/>sales
</th>
<th>Model 3 + Model Y<br/>sales<sup class="reference" id="cite_ref-96"><a href="#cite_note-96">[b]</a></sup></th>
<th>Total<br/>sales<sup class="reference" id="cite_ref-97"><a href="#cite_note-97">[c]</a></sup></th>
<th>In transit<sup class="reference" id="cite_ref-98"><a href="#cite_note-98">[d]</a></sup></th>
<th>Source
</th></tr>, <tr style="text-align:center;">
<td>Q1 2013</td>
<td>?</td>
<td>5,000+</td>
<td>4,900</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>4,900</td>
<td></td>
<td><sup class="reference" id="cite_ref-99"><a href="#cite_note-99">[95]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q2 2013</td>
<td>?</td>
<td>?</td>
<td>5,150</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>5,150</td>
<td></td>
<td><sup class="reference" id="cite_ref-100"><a href="#cite_note-100">[96]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q3 2013</td>
<td>?</td>
<td>?</td>
<td>5,500+</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>5,500+</td>
<td></td>
<td><sup class="reference" id="cite_ref-101"><a href="#cite_note-101">[97]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q4 2013</td>
<td>~34,851</td>
<td>6,587</td>
<td>6,892</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>6,892</td>
<td></td>
<td><sup class="reference" id="cite_ref-102"><a href="#cite_note-102">[98]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q1 2014</td>
<td>~41,438</td>
<td>7,535</td>
<td>6,457</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>6,457</td>
<td></td>
<td><sup class="reference" id="cite_ref-103"><a href="#cite_note-103">[99]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q2 2014</td>
<td>~48,973</td>
<td>8,763</td>
<td>7,579</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>7,579</td>
<td></td>
<td><sup class="reference" id="cite_ref-104"><a href="#cite_note-104">[100]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q3 2014</td>
<td>~57,736</td>
<td>~7,075</td>
<td>7,785</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>7,785</td>
<td></td>
<td><sup class="reference" id="cite_ref-105"><a href="#cite_note-105">[101]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q4 2014</td>
<td>64,811</td>
<td>11,627</td>
<td>9,834</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>9,834</td>
<td></td>
<td><sup class="reference" id="cite_ref-106"><a href="#cite_note-106">[102]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q1 2015</td>
<td>76,438</td>
<td>11,160</td>
<td>10,045</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>10,045</td>
<td></td>
<td><sup class="reference" id="cite_ref-107"><a href="#cite_note-107">[103]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q2 2015</td>
<td>89,245</td>
<td>12,807</td>
<td>11,532</td>
<td style="background:#f1f5fa;">
</td>
<td style="background:#f1f5fa;"></td>
<td>11,532</td>
<td></td>
<td><sup class="reference" id="cite_ref-108"><a href="#cite_note-108">[104]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q3 2015</td>
<td>102,336</td>
<td>13,091</td>
<td>11,597</td>
<td>6
</td>
<td style="background:#f1f5fa;"></td>
<td>11,603</td>
<td></td>
<td><sup class="reference" id="cite_ref-109"><a href="#cite_note-109">[105]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q4 2015</td>
<td>116,373</td>
<td>14,037</td>
<td>17,272</td>
<td>206
</td>
<td style="background:#f1f5fa;"></td>
<td>17,478</td>
<td></td>
<td><sup class="reference" id="cite_ref-110"><a href="#cite_note-110">[106]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q1 2016</td>
<td>131,883</td>
<td>15,510</td>
<td>12,420</td>
<td>2,400
</td>
<td style="background:#f1f5fa;"></td>
<td>14,820</td>
<td>2,615</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2016_111-0"><a href="#cite_note-Tesla1Q2016-111">[107]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q2 2016</td>
<td>150,228</td>
<td>18,345</td>
<td>9,764</td>
<td>4,638
</td>
<td style="background:#f1f5fa;"></td>
<td>14,402</td>
<td>5,150</td>
<td><sup class="reference" id="cite_ref-112"><a href="#cite_note-112">[108]</a></sup><sup class="reference" id="cite_ref-113"><a href="#cite_note-113">[109]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q3 2016</td>
<td>175,413</td>
<td>25,185</td>
<td>16,047</td>
<td>8,774
</td>
<td style="background:#f1f5fa;"></td>
<td>24,821</td>
<td>5,065</td>
<td><sup class="reference" id="cite_ref-114"><a href="#cite_note-114">[110]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q4 2016<sup class="reference" id="cite_ref-115"><a href="#cite_note-115">[e]</a></sup></td>
<td>200,295</td>
<td>24,882</td>
<td>12,700</td>
<td>9,500
</td>
<td style="background:#f1f5fa;"></td>
<td>22,254</td>
<td>6,450</td>
<td><sup class="reference" id="cite_ref-116"><a href="#cite_note-116">[111]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2016final_117-0"><a href="#cite_note-Tesla4Q2016final-117">[112]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q1 2017</td>
<td>225,713</td>
<td>25,418</td>
<td>~13,450</td>
<td>~11,550
</td>
<td style="background:#f1f5fa;"></td>
<td>25,051</td>
<td>~4,650</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2017_118-0"><a href="#cite_note-Tesla1Q2017-118">[113]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q2 2017</td>
<td>251,421</td>
<td>25,708</td>
<td>~12,000</td>
<td>~10,000
</td>
<td style="background:#f1f5fa;"></td>
<td>22,026</td>
<td>~3,500</td>
<td><sup class="reference" id="cite_ref-Tesla2Q2017_119-0"><a href="#cite_note-Tesla2Q2017-119">[114]</a></sup><sup class="reference" id="cite_ref-120"><a href="#cite_note-120">[115]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q3 2017</td>
<td>276,757</td>
<td>25,336</td>
<td>14,065</td>
<td>11,865</td>
<td>222</td>
<td>26,137</td>
<td>4,820</td>
<td><sup class="reference" id="cite_ref-Tesla3Q2017_121-0"><a href="#cite_note-Tesla3Q2017-121">[116]</a></sup><sup class="reference" id="cite_ref-3Q2017Tesla250K_122-0"><a href="#cite_note-3Q2017Tesla250K-122">[117]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q4 2017</td>
<td>301,322</td>
<td>24,565</td>
<td>~15,200</td>
<td>~13,120</td>
<td>1,542</td>
<td>29,967</td>
<td>3,380</td>
<td><sup class="reference" id="cite_ref-Tesla4Q2017_123-0"><a href="#cite_note-Tesla4Q2017-123">[118]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2017_AggProduction_124-0"><a href="#cite_note-Tesla4Q2017_AggProduction-124">[119]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2017final_125-0"><a href="#cite_note-Tesla4Q2017final-125">[120]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q1 2018</td>
<td>335,816</td>
<td>34,494</td>
<td>11,730</td>
<td>10,070</td>
<td>8,182</td>
<td>29,997</td>
<td>6,100</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2018_126-0"><a href="#cite_note-Tesla1Q2018-126">[121]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q2 2018</td>
<td>389,155</td>
<td>53,339</td>
<td>10,930</td>
<td>11,370</td>
<td>18,440</td>
<td>40,740</td>
<td>15,058</td>
<td><sup class="reference" id="cite_ref-Tesla2Q2018_127-0"><a href="#cite_note-Tesla2Q2018-127">[122]</a></sup><sup class="reference" id="cite_ref-Tesla2Q2018final_128-0"><a href="#cite_note-Tesla2Q2018final-128">[123]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q3 2018</td>
<td>469,297</td>
<td>80,142</td>
<td>14,470</td>
<td>13,190</td>
<td>56,065</td>
<td>83,725</td>
<td>11,824</td>
<td><sup class="reference" id="cite_ref-Tesla3Q2018_129-0"><a href="#cite_note-Tesla3Q2018-129">[124]</a></sup><sup class="reference" id="cite_ref-Tesla3Q2018final_130-0"><a href="#cite_note-Tesla3Q2018final-130">[125]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q4 2018</td>
<td>555,852</td>
<td>86,555</td>
<td>13,500</td>
<td>14,050</td>
<td>63,359</td>
<td>90,700</td>
<td>2,907</td>
<td><sup class="reference" id="cite_ref-Tesla4Q2018_131-0"><a href="#cite_note-Tesla4Q2018-131">[126]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2018final_74-1"><a href="#cite_note-Tesla4Q2018final-74">[73]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q1 2019</td>
<td>632,952</td>
<td>77,100</td>
<td colspan="2">12,100</td>
<td>50,900</td>
<td>63,000</td>
<td>10,600</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2019_132-0"><a href="#cite_note-Tesla1Q2019-132">[127]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q2 2019</td>
<td>720,000</td>
<td>87,048</td>
<td colspan="2">17,650</td>
<td>77,550</td>
<td>95,200</td>
<td>7,400</td>
<td><sup class="reference" id="cite_ref-Tesla2Q2019_133-0"><a href="#cite_note-Tesla2Q2019-133">[128]</a></sup><sup class="reference" id="cite_ref-wired20190703_134-0"><a href="#cite_note-wired20190703-134">[129]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q3 2019</td>
<td>816,155</td>
<td>96,155</td>
<td colspan="2">17,483</td>
<td>79,703</td>
<td>97,186</td>
<td></td>
<td><sup class="reference" id="cite_ref-Tesla3Q2019_135-0"><a href="#cite_note-Tesla3Q2019-135">[130]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q4 2019</td>
<td>921,046</td>
<td>104,891</td>
<td colspan="2">19,450</td>
<td>92,550</td>
<td>112,000</td>
<td></td>
<td><sup class="reference" id="cite_ref-Tesla4Q2019_73-1"><a href="#cite_note-Tesla4Q2019-73">[72]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q1 2020</td>
<td>1,023,718</td>
<td>102,672</td>
<td colspan="2">12,200</td>
<td>76,200</td>
<td>88,400</td>
<td></td>
<td><sup class="reference" id="cite_ref-136"><a href="#cite_note-136">[131]</a></sup>
</td></tr>]

In [70]:
# Iteration 2 over rows data

table_rows = full_table.select('tr')
table_data = []

for index, element in enumerate(table_rows):
    if index > 0:
        row_list = []
        values = element.select('td')
        for value in values:
            row_list.append(value.text)
        table_data.append(row_list)
        
print(table_data)

[['Q1 2013', '?', '5,000+', '4,900', '\n', '', '4,900', '', '[95]\n'], ['Q2 2013', '?', '?', '5,150', '\n', '', '5,150', '', '[96]\n'], ['Q3 2013', '?', '?', '5,500+', '\n', '', '5,500+', '', '[97]\n'], ['Q4 2013', '~34,851', '6,587', '6,892', '\n', '', '6,892', '', '[98]\n'], ['Q1 2014', '~41,438', '7,535', '6,457', '\n', '', '6,457', '', '[99]\n'], ['Q2 2014', '~48,973', '8,763', '7,579', '\n', '', '7,579', '', '[100]\n'], ['Q3 2014', '~57,736', '~7,075', '7,785', '\n', '', '7,785', '', '[101]\n'], ['Q4 2014', '64,811', '11,627', '9,834', '\n', '', '9,834', '', '[102]\n'], ['Q1 2015', '76,438', '11,160', '10,045', '\n', '', '10,045', '', '[103]\n'], ['Q2 2015', '89,245', '12,807', '11,532', '\n', '', '11,532', '', '[104]\n'], ['Q3 2015', '102,336', '13,091', '11,597', '6\n', '', '11,603', '', '[105]\n'], ['Q4 2015', '116,373', '14,037', '17,272', '206\n', '', '17,478', '', '[106]\n'], ['Q1 2016', '131,883', '15,510', '12,420', '2,400\n', '', '14,820', '2,615', '[107]\n'], ['Q2 2016', '150,228', '18,345', '9,764', '4,638\n', '', '14,402', '5,150', '[108][109]\n'], ['Q3 2016', '175,413', '25,185', '16,047', '8,774\n', '', '24,821', '5,065', '[110]\n'], ['Q4 2016[e]', '200,295', '24,882', '12,700', '9,500\n', '', '22,254', '6,450', '[111][112]\n'], ['Q1 2017', '225,713', '25,418', '~13,450', '~11,550\n', '', '25,051', '~4,650', '[113]\n'], ['Q2 2017', '251,421', '25,708', '~12,000', '~10,000\n', '', '22,026', '~3,500', '[114][115]\n'], ['Q3 2017', '276,757', '25,336', '14,065', '11,865', '222', '26,137', '4,820', '[116][117]\n'], ['Q4 2017', '301,322', '24,565', '~15,200', '~13,120', '1,542', '29,967', '3,380', '[118][119][120]\n'], ['Q1 2018', '335,816', '34,494', '11,730', '10,070', '8,182', '29,997', '6,100', '[121]\n'], ['Q2 2018', '389,155', '53,339', '10,930', '11,370', '18,440', '40,740', '15,058', '[122][123]\n'], ['Q3 2018', '469,297', '80,142', '14,470', '13,190', '56,065', '83,725', '11,824', '[124][125]\n'], ['Q4 2018', '555,852', '86,555', '13,500', '14,050', '63,359', '90,700', '2,907', '[126][73]\n'], ['Q1 2019', '632,952', '77,100', '12,100', '50,900', '63,000', '10,600', '[127]\n'], ['Q2 2019', '720,000', '87,048', '17,650', '77,550', '95,200', '7,400', '[128][129]\n'], ['Q3 2019', '816,155', '96,155', '17,483', '79,703', '97,186', '', '[130]\n'], ['Q4 2019', '921,046', '104,891', '19,450', '92,550', '112,000', '', '[72]\n'], ['Q1 2020', '1,023,718', '102,672', '12,200', '76,200', '88,400', '', '[131]\n']]

In [71]:
# Final Iteration


table_rows = full_table.select('tr')
table_data = []

for index, element in enumerate(table_rows):
    if index > 0:
        row_list = []
        values = element.select('td')
        for value in values:
            row_list.append(value.text.strip())
        table_data.append(row_list)
        
print(table_data)

[['Q1 2013', '?', '5,000+', '4,900', '', '', '4,900', '', '[95]'], ['Q2 2013', '?', '?', '5,150', '', '', '5,150', '', '[96]'], ['Q3 2013', '?', '?', '5,500+', '', '', '5,500+', '', '[97]'], ['Q4 2013', '~34,851', '6,587', '6,892', '', '', '6,892', '', '[98]'], ['Q1 2014', '~41,438', '7,535', '6,457', '', '', '6,457', '', '[99]'], ['Q2 2014', '~48,973', '8,763', '7,579', '', '', '7,579', '', '[100]'], ['Q3 2014', '~57,736', '~7,075', '7,785', '', '', '7,785', '', '[101]'], ['Q4 2014', '64,811', '11,627', '9,834', '', '', '9,834', '', '[102]'], ['Q1 2015', '76,438', '11,160', '10,045', '', '', '10,045', '', '[103]'], ['Q2 2015', '89,245', '12,807', '11,532', '', '', '11,532', '', '[104]'], ['Q3 2015', '102,336', '13,091', '11,597', '6', '', '11,603', '', '[105]'], ['Q4 2015', '116,373', '14,037', '17,272', '206', '', '17,478', '', '[106]'], ['Q1 2016', '131,883', '15,510', '12,420', '2,400', '', '14,820', '2,615', '[107]'], ['Q2 2016', '150,228', '18,345', '9,764', '4,638', '', '14,402', '5,150', '[108][109]'], ['Q3 2016', '175,413', '25,185', '16,047', '8,774', '', '24,821', '5,065', '[110]'], ['Q4 2016[e]', '200,295', '24,882', '12,700', '9,500', '', '22,254', '6,450', '[111][112]'], ['Q1 2017', '225,713', '25,418', '~13,450', '~11,550', '', '25,051', '~4,650', '[113]'], ['Q2 2017', '251,421', '25,708', '~12,000', '~10,000', '', '22,026', '~3,500', '[114][115]'], ['Q3 2017', '276,757', '25,336', '14,065', '11,865', '222', '26,137', '4,820', '[116][117]'], ['Q4 2017', '301,322', '24,565', '~15,200', '~13,120', '1,542', '29,967', '3,380', '[118][119][120]'], ['Q1 2018', '335,816', '34,494', '11,730', '10,070', '8,182', '29,997', '6,100', '[121]'], ['Q2 2018', '389,155', '53,339', '10,930', '11,370', '18,440', '40,740', '15,058', '[122][123]'], ['Q3 2018', '469,297', '80,142', '14,470', '13,190', '56,065', '83,725', '11,824', '[124][125]'], ['Q4 2018', '555,852', '86,555', '13,500', '14,050', '63,359', '90,700', '2,907', '[126][73]'], ['Q1 2019', '632,952', '77,100', '12,100', '50,900', '63,000', '10,600', '[127]'], ['Q2 2019', '720,000', '87,048', '17,650', '77,550', '95,200', '7,400', '[128][129]'], ['Q3 2019', '816,155', '96,155', '17,483', '79,703', '97,186', '', '[130]'], ['Q4 2019', '921,046', '104,891', '19,450', '92,550', '112,000', '', '[72]'], ['Q1 2020', '1,023,718', '102,672', '12,200', '76,200', '88,400', '', '[131]']]

In [72]:
df = pd.DataFrame(table_data,columns=table_columns)
df

,Quarter,Cumulative_production,Total_production,Model_S_sales,Model_X_sales,Model_3_+_Model_Y_sales,Total_sales,In_transit,Source
0,Q1 2013,?,"5,000+","4,900",,,"4,900",,[95]
1,Q2 2013,?,?,"5,150",,,"5,150",,[96]
2,Q3 2013,?,?,"5,500+",,,"5,500+",,[97]
3,Q4 2013,"~34,851","6,587","6,892",,,"6,892",,[98]
4,Q1 2014,"~41,438","7,535","6,457",,,"6,457",,[99]
5,Q2 2014,"~48,973","8,763","7,579",,,"7,579",,[100]
6,Q3 2014,"~57,736","~7,075","7,785",,,"7,785",,[101]
7,Q4 2014,"64,811","11,627","9,834",,,"9,834",,[102]
8,Q1 2015,"76,438","11,160","10,045",,,"10,045",,[103]
9,Q2 2015,"89,245","12,807","11,532",,,"11,532",,[104]
10,Q3 2015,"102,336","13,091","11,597",6,,"11,603",,[105]
11,Q4 2015,"116,373","14,037","17,272",206,,"17,478",,[106]
12,Q1 2016,"131,883","15,510","12,420","2,400",,"14,820","2,615",[107]
13,Q2 2016,"150,228","18,345","9,764","4,638",,"14,402","5,150",[108][109]
14,Q3 2016,"175,413","25,185","16,047","8,774",,"24,821","5,065",[110]
15,Q4 2016[e],"200,295","24,882","12,700","9,500",,"22,254","6,450",[111][112]
16,Q1 2017,"225,713","25,418","~13,450","~11,550",,"25,051","~4,650",[113]
17,Q2 2017,"251,421","25,708","~12,000","~10,000",,"22,026","~3,500",[114][115]
18,Q3 2017,"276,757","25,336","14,065","11,865",222,"26,137","4,820",[116][117]
19,Q4 2017,"301,322","24,565","~15,200","~13,120","1,542","29,967","3,380",[118][119][120]
20,Q1 2018,"335,816","34,494","11,730","10,070","8,182","29,997","6,100",[121]
21,Q2 2018,"389,155","53,339","10,930","11,370","18,440","40,740","15,058",[122][123]
22,Q3 2018,"469,297","80,142","14,470","13,190","56,065","83,725","11,824",[124][125]
23,Q4 2018,"555,852","86,555","13,500","14,050","63,359","90,700","2,907",[126][73]
24,Q1 2019,"632,952","77,100","12,100","50,900","63,000","10,600",[127],None
25,Q2 2019,"720,000","87,048","17,650","77,550","95,200","7,400",[128][129],None
26,Q3 2019,"816,155","96,155","17,483","79,703","97,186",,[130],None
27,Q4 2019,"921,046","104,891","19,450","92,550","112,000",,[72],None
28,Q1 2020,"1,023,718","102,672","12,200","76,200","88,400",,[131],None